.media-embed-toolbar .input-group {
  border: 1px solid #e5e5ea;
  display: flex;
}

.media-embed-toolbar .input-group input {
  border: 0px;
  padding: 7px 4px;
  flex: 1 1 auto;
}

.media-embed-toolbar .form-group:first-child .input-group {
  margin-top: 10px;
}

.media-embed-toolbar .form-group:not(:last-child) {
  margin-bottom: 20px;
}

.media-embed-toolbar .toolbar button:first-of-type {
  margin-left: 0px;
}

.media-embed-toolbar .toolbar button {
  margin-bottom: 0;
  margin: auto 5px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0 !important;
  white-space: nowrap;
  border: none;
  user-select: none;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 6px;
}

.media-embed-toolbar .toolbar button.insert {
  color: white;
  background-color: #0078d4;
}

.media-embed-toolbar .toolbar button.cancel {
  color: red;
  background-color: #f7f7fa;
}

.media-embed-toolbar .toolbar button.disabled {
  color: #c5c6c7;
  background-color: #f7f7fa;
}
