.font-color-toolbar .input-group {
  display: flex;
  align-items: center;
}

.font-color-toolbar .input-group input {
  margin-left: 5%;
  border: 0px;
  padding: 7px 11px;
}

.font-color-toolbar .form-group:not(:last-child) {
  margin-bottom: 20px;
}

.font-color-toolbar .toolbar button {
  margin-bottom: 0;
  margin: auto 5px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0 !important;
  white-space: nowrap;
  border: none;
  user-select: none;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 6px;
}

.font-color-toolbar .toolbar button.insert {
  color: white;
  background-color: #0078d4;
}

.font-color-toolbar .toolbar button.remove {
  color: red;
  background-color: #f7f7fa;
}

.font-color-toolbar .toolbar button.disabled {
  color: #c5c6c7;
  background-color: #f7f7fa;
}
