.image-toolbar .input-group {
  border: 1px solid #e5e5ea;
  padding: 5px 5px;
}

.image-toolbar .input-group input {
  width: 100%;
  border: 0px;
}

.image-toolbar .form-group:not(:last-child) {
  margin-bottom: 20px;
}

.image-toolbar .toolbar button {
  margin-bottom: 0;
  margin: auto 5px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0 !important;
  white-space: nowrap;
  border: none;
  user-select: none;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 6px;
}

.image-toolbar .toolbar button.insert {
  color: white;
  background-color: #0078d4;
}

.image-toolbar .toolbar button.cancel {
  color: red;
  background-color: #f7f7fa;
}

.image-toolbar .toolbar button.disabled {
  color: #c5c6c7;
  background-color: #f7f7fa;
}
