/* .modal {
  background: #fff;
  border-radius: 4px;
  min-width: 300px;
  margin: 20px auto;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.modal-container {
  position: relative;
} */

.modal .close-container {
  margin-bottom: 5px;
}

.modal .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 22px;
  height: 20px;
  opacity: 0.3;
}

.modal .close:hover {
  opacity: 1;
}

.modal .close:before,
.modal .close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}

.modal .close:before {
  transform: rotate(45deg);
}

.modal .close:after {
  transform: rotate(-45deg);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  min-width: fit-content;
  min-height: fit-content;
  background-color: white;
  padding: 25px;
  position: relative;
}
